@model lab2MVC.Models.Course

@{
    Layout = "_AdvLayout";

    ViewData["Title"] = "Add New Course";
}

<h2>Add New Course</h2>

<form asp-controller="Course" asp-action="SaveNew" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Degree"></label>
        <input asp-for="Degree" class="form-control" />
        <span asp-validation-for="Degree" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MinDegree"></label>
        <input asp-for="MinDegree" class="form-control" />
        <span asp-validation-for="MinDegree" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DepartmentId"></label>
        <select asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.Departments, "Id", "Name"))" class="form-control">
            <option value="">Select Department</option>
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>
    <br />
    <a href="/Course/ShowCourses" class="btn btn-dark">Back To list</a>
    <button type="submit" class="btn btn-warning">Add Course</button>
</form>
